{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-purpletree-multivendor" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
		<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default btn-light"><i class="fa fa-reply"></i></a>
		{% if helpcheck %}
				<a href="{{ helplink }}" rel=”nofollow”  target="_blank" id="button-pts-help" class="btn"><img src="{{ helpimage }}" alt="Help" width="85" height="43"></a>
		   {% endif %}
	  </div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
	</div>
    {% endif %}
  {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
    {% endif %}
    {% if master_id %}
      <div class="alert alert-warning"><i class="fas fa-exclamation-circle"></i> {{ text_variant }}</div>
    {% endif %}
    <div class="card">
      <div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-purpletree-multivendor" class="form-horizontal">

          <ul class="nav nav-tabs">
            <li class="nav-item"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
            <li class="nav-item"><a href="#tab-seller" data-bs-toggle="tab" class="nav-link">{{ text_seller }}</a></li>
            <li class="nav-item"><a href="#tab-subscription" data-bs-toggle="tab" class="nav-link">{{ text_subscription }}</a></li>
            <li class="nav-item"><a href="#tab-development" data-bs-toggle="tab" class="nav-link">{{ text_development }}</a></li>
            <li class="nav-item"><a href="#tab-hyperlocal" data-bs-toggle="tab" class="nav-link">{{ entry_seller_areaheading }}</a></li>
            <li class="nav-item"><a href="#tab-other" data-bs-toggle="tab" class="nav-link">{{ text_other_settings }}</a></li>
            <li class="nav-item"><a href="#tab-seller-reg" data-bs-toggle="tab" class="nav-link">{{ text_seller_reg_settings }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
	<div class="form-group py-1 row">
					<label class="col-sm-2 col-form-label control-label" for="input-status">{{ entry_status }}</label>
					<div class="col-sm-10">
					<select name="module_purpletree_multivendor_status" id="input-status" class="form-select">
					{% if module_purpletree_multivendor_status %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
					{% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
					</select>
					</div>
				</div>
				<div class="form-group py-1 required">
					<div class="col-sm-8">
					<input type="hidden" name="module_purpletree_multivendor_process_data" value="{{ module_purpletree_multivendor_process_data }}" class="form-control" id="setlicensee"/>
									
					<input type="hidden" name="module_purpletree_multivendor_validate_text" value="{{ module_purpletree_multivendor_validate_text }}">
					<input type="hidden" name="module_purpletree_multivendor_live_validate_text" value="{{ module_purpletree_multivendor_live_validate_text }}">
									
					<input type="hidden" name="module_purpletree_multivendor_encypt_text" value="{{ module_purpletree_multivendor_encypt_text }}">
					</div>
					<div class="col-sm-12 col-sm-offset-2 offset-md-2">
					<button type="button" class="btn btn-primary ptsc-mv-licebtnpadd" id="getLicensee">{{ button_get_license }}</button>
					</div>
				</div>
				
				<div id="licenseModal" class="modal pts-modal">
				<!-- Modal content -->
					<div class="modal-content ptsc-modal-content">
					<div class="row">
					<div class="col-lg-12 liceform">
					<span class="close ptsc-close">&times;</span>		
					<div class="alert alert-danger col-lg-12 ptsc-storefrm-nodisplay" id="modal_lic_error">
					</div>
					<div class="d-flex py-1 ptsc-mv-licemargt" name="Licencekeyval1">						
					<div class="col-lg-8 ptsc-mv-enter_lice">
					<label class="control-label col-form-label" for="input-name">{{ enter_license_key1 }}</label>
					<input name="" id="licenskey1" value="" placeholder="{{ enter_license_key1 }}" class="form-control" autocomplete="off" type="text" name="Licencekeyval" /><ul class="dropdown-menu"></ul>
					</div>
					<div class="col-lg-2" style="padding-top: 35px;">
					<label class="control-label col-form-label ptsc-mv-okbtncol" for="input-name">.</label>
					<input value="{{ button_ok }}" class="btn btn-primary okbtn" type="button" onclick="savelicc()"/>							
					</div>
					</div>
					<div class="col-lg-12 ptsc-mv-dontliceleft">
					<input value="{{ dont_have_lisence_key }}" class="btn btn-primary licencekey2 ptsc-mv-dontlicemart" type="button" onclick="dontlice()"/>	
					</div>					
					<div class="orderdiv col-lg-12 form-group p-0 ptsc-storefrm-nodisplay">
					<label class="control-label col-form-label" for="input-name">{{ entry_order_id }}</label>
					<input name="order_id" id="order_id" value="" placeholder="{{ entry_order_id }}" id="input-name" class="form-control" autocomplete="off" type="text"><ul class="dropdown-menu" ></ul>
					<div class=" py-1">
					<label class="control-label col-form-label" for="input-name">{{ entry_email_id }}</label>
					<input name="email_id" id="email_id" value="" placeholder="{{ entry_email_id }}" id="input-name" class="form-control" autocomplete="off" type="text"><ul class="dropdown-menu"></ul>
					</div>
					<div class="text-center col-lg-12  py-1">
					<input value="{{ button_submit }}" class="btn btn-primary getlicbtn ptsc-mv-getlicpama"  type="button" onclick="getlicense()"/>
					</div>
					</div>				
					</div>
					</div>
					</div>	
				</div>	
				<div class="row">
								<div class="col-sm-12">
									<div class="clearfix">
										<div class="col-sm-12">
											<h3>{{ vendor_heading }}</h3>
										</div>
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-commission">{{ entry_commission_status }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_commission_status" class="form-select" id = "input-commission">
														{% for status in order_statuses %}
														<option {% if module_purpletree_multivendor_commission_status == status.order_status_id %} selected="selected" {% elseif module_purpletree_multivendor_commission_status == '' and status.name == 'Complete' %} selected="selected" {% endif %} value="{{status.order_status_id}}">{{ status.name }}</option>
														{% endfor %}
													</select>
													{% if commission_status_error %}
													<div class="text-danger">{{ commission_status_error }}</div>
													{% endif %}
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-refund">{{ entry_refund_status }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_refund_status" class="form-select" id = "input-refund">
														{% for actions in return_actions %}
														<option {% if module_purpletree_multivendor_refund_status == actions.return_action_id %} selected="selected" {% elseif module_purpletree_multivendor_refund_status == '' and actions.name == 'Refunded' %} selected="selected" {% endif %} value="{{actions.return_action_id}}">{{ actions.name }}</option>
														{% endfor %}
													</select>
													{% if commission_status_error %}
													<div class="text-danger">{{ commission_status_error }}</div>
													{% endif %}
												</div>
											</div>
										</div>	
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ text_purpletreeshipping_type }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_shippingtype" class="form-select">
														{% if module_purpletree_multivendor_shippingtype %}
														<option value="0">{{ text_purpletreeshipping }}</option>
														<option value="1" selected="selected">{{ text_purpletreeshipping_geozone }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_purpletreeshipping }}</option>
														<option value="1">{{ text_purpletreeshipping_geozone }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>						
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-commissionn">{{ entry_commission }}</label>
												<div class="col-md-9">
													<input type="number" min="0" name="module_purpletree_multivendor_commission" class="form-control" value="{{ module_purpletree_multivendor_commission is defined?module_purpletree_multivendor_commission:'' }}" id = "input-commissionn"/>
													{% if commission_error %}
													<div class="text-danger">{{ commission_error }}</div>
													{% endif %}
												</div>
											</div>
										</div>
										<!--fix global commission-->
										  <div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-fix-commissionn">{{ text_fix_commission }}</label>
												<div class="col-md-9">
													<input type="text" name="module_purpletree_multivendor_fix_commission" class="form-control" value="{{ module_purpletree_multivendor_fix_commission is defined?module_purpletree_multivendor_fix_commission:'' }}" id = "input-fix-commissionn"/>
												</div>
											</div>
										</div>
										<!-- End fix global commission-->
										<!--Shipping Commission-->
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_shipping_commission }}</label>
												<div class="col-md-9">
													<input type="text" name="module_purpletree_multivendor_shipping_commission" class="form-control" value="{{ module_purpletree_multivendor_shipping_commission is defined?module_purpletree_multivendor_shipping_commission:'' }}"/>
													{% if shipping_commission_error %}
													<div class="text-danger">{{ shipping_commission_error }}</div>
													{% endif %}
												</div>
											</div>
										</div>
										<!--Shipping Commission-->
										<!--Seller group config-->
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ commission_from_seller_group }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_seller_group" class="form-select">
														{% if module_purpletree_multivendor_seller_group %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
										<!--Seller group config-->
										<div class="col-sm-12">
											<div class="form-group py-1 row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ Commission_invoice_footer_text }}</label>
												<div class="col-md-9">
													<input type="text" placeholder="{{ Commission_invoice_footer_text }}" name="module_purpletree_multivendor_footer_text" class="form-control" value="{{ module_purpletree_multivendor_footer_text }}"/>
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_seller_manage_order }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_seller_manage_order" class="form-select">
														{% if module_purpletree_multivendor_seller_manage_order %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
										<!-- quick order -->
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-allow_order_status">{{ entry_allow_order_status }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_allow_order_status[]" class="form-select ptsc-mv-selldasheig"id="input-allow_order_status" multiple>
														
														{% for order_status in allow_order_statuse3 %}
														
														{% if order_status.selected == 'selected' %}
												
														<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
														
													    {% else %}
														<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>																				
														
													{% endif %}
													{% endfor %}
													</select>
												</div>
											</div>
										</div>

										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-allow_order_status"> {{ entry_seller_dashboard_icon }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_icons_status[]" class="form-select ptsc-mv-selldasheig"id="input-allow_order_status" multiple>

												
														{% for key,allow_icon_status in allow_icon_statuse %}
                                                       
														<option value="{{ allow_icon_status.id }}" {% if allow_icon_status.selected== 'selected' %} selected="selected" {% endif %} >{{ allow_icon_status.value }}</option>	
																
													{% endfor %}
													</select>
												</div>
											</div>
										</div>
										<!-- end Dashboard  icons -->
										 		<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-customer_manage_order">{{ entry_customer_manage_order }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_customer_manage_order" class="form-select"id="input-customer_manage_order">
														{% if module_purpletree_multivendor_customer_manage_order %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
									    
										
										{% if quick_order_check == 1 %}	
										<div class="col-sm-12">
										<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-quick_order_tab_position">{{ entry_quick_order_tab_position}}</label>
												<div class="col-md-9">
													<select id = "input-quick_order_tab_position" name="module_purpletree_multivendor_quick_order_tab_position" class="form-select">
														{% if module_purpletree_multivendor_quick_order_tab_position %}
														<option value="0">{{ text_last }}</option>
														<option value="1" selected="selected">{{ text_first }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_last }}</option>
														<option value="1">{{ text_first }}</option>
														{% endif %}
													</select>
												</div>
											</div>
											</div>
											<div class="col-sm-12">
											<div class="form-group py-1 row">
												<label class="col-md-3 control-label col-form-label" for="input-api">{{ entry_api_google }}</label>
												<div class="col-md-9">
													<input type="text" name="module_purpletree_multivendor_quick_order_api" class="form-control" value="{{ module_purpletree_multivendor_quick_order_api is defined?module_purpletree_multivendor_quick_order_api:'' }}" id = "input-api"/>
												</div>
											</div>
											</div>
											{% endif %}	
										<!-- end quick order -->
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-seller_approv">{{ entry_seller_approval }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_seller_approval" class="form-select" id = "input-seller_approv">
														{% if module_purpletree_multivendor_seller_approval %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_product_approval }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_product_approval" class="form-select">
														{% if module_purpletree_multivendor_product_approval %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_allow_category }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_allow_categorytype" class="form-select">
														{% if module_purpletree_multivendor_allow_categorytype %}
														<option value="0">{{ text_selected_categories }}</option>
														<option value="1" selected="selected">{{ text_allowed_categories }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_selected_categories }}</option>
														<option value="1">{{ text_allowed_categories }}</option>
														{% endif %}
													</select>
													{% if module_purpletree_multivendor_allow_categorytype %}
													<input type="text" name="category" value="" placeholder="{{ entry_category }}" disabled id="input-category" list="list-category" class="form-control"/>
													{% else %}
													<input type="text" name="category" value="" placeholder="{{ entry_category }}" id="input-category" list="list-category" class="form-control"/>
													{% endif %}
													<datalist id="list-category"></datalist>
													<div id="product-category" class="well well-sm form-control ptsc-storef-heioflow">
														{% if module_purpletree_multivendor_allow_category %}
														{%	for key, product_category in module_purpletree_multivendor_allow_category %}
														<div id="product-category{{ product_category }}"><i class="fa fa-minus-circle"></i> {{ key }} 
															{% if module_purpletree_multivendor_allow_categorytype %} {% else %}
															<input type="hidden" name="module_purpletree_multivendor_allow_category[]" value="{{ product_category }}"/>
															{% endif %}
														</div>
														{% endfor %}
														{% endif %}
													</div>
												</div> 
											</div>
										</div>
										<!-- product category -->
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-seller_product_category">{{ entry_seller_product_category }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_seller_product_category" class="form-select" id="input-seller_product_category">
														{% if module_purpletree_multivendor_seller_product_category %}
														
														<option value="0">{{ text_multiple }}</option>
														<option value="1" selected="selected">{{ text_single }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_multiple }}</option>
														<option value="1">{{ text_single }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
										<!-- product category -->
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-seller-login">{{ entry_seller_login }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_seller_login" class="form-select" id="input-seller-login">
														{% if module_purpletree_multivendor_seller_login %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
													</div>
											</div>
										</div>						
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_allow_live_chat }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_allow_live_chat" class="form-select">
														{% if module_purpletree_multivendor_allow_live_chat %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
										<!-- my div -->
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ allow_browse_sellers }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_browse_sellers" class="form-select">
														{% if module_purpletree_multivendor_browse_sellers %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
													{% endif %}								</select>
												</div>
											</div>
										</div>	
										<!--Hide user menu-->
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-hide-user-menu">{{ text_hide_user_menu }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_hide_user_menu" class="form-select" id="input-hide-user-menu">
														{% if module_purpletree_multivendor_hide_user_menu %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
													{% endif %}								</select>
												</div>
											</div>
										</div>	
										<!--End Hide user menu--> 
										<!--Start domain wise store--> 
									<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-hide-user-menu">{{ text_multiple_store }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_multi_store" class="form-select" id="input-hide-user-menu">
														{% if module_purpletree_multivendor_multi_store %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
													{% endif %}								</select>
												</div>
											</div>
										</div>	
										<!--End domain wise store--> 
									</div>
								</div>
							</div>
            </div>
            <div id="tab-seller" class="tab-pane">
							<div class="row">
								<div class="col-sm-12">
									<div class="clearfix">
										<div class="col-sm-12">
											<h3>{{ seller_product_heading }}</h3>
										</div>
										<!-- Start Quick order -->
										<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-seller_info_success">{{ entry_seller_info_success }}</label>
												<div class="col-md-9">
													<select id = "input-seller_info_success" name="module_purpletree_multivendor_seller_info_on_order_sucess" class="form-select">
														{% if module_purpletree_multivendor_seller_info_on_order_sucess %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>									
										 <div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input_seller_name">{{ entry_show_seller_name }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_show_seller_name" class="form-select" id="input_seller_name">
														{% if module_purpletree_multivendor_show_seller_name %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>	
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input_seller_address">{{ entry_show_seller_address }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_show_seller_address" class="form-select" id="input_seller_address">
														{% if module_purpletree_multivendor_show_seller_address %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>	
										<!-- End Quick order -->
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input_hide_seller">{{ entry_hide_seller_detail }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_hide_seller_detail" class="form-select" id="input_hide_seller">
														{% if module_purpletree_multivendor_hide_seller_detail %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>	
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-seller-login">{{ entry_allowseller_oncategory }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_allow_selleron_category" class="form-select" id="input-seller-login">
														{% if module_purpletree_multivendor_allow_selleron_category == "service_mode" %}
														<option value="0">{{ text_normal_mode }}</option>
														<option value="1">{{ text_category_mode }}</option>
														<option value="service_mode" selected="selected">{{ text_service_mode }}</option>
														{% elseif module_purpletree_multivendor_allow_selleron_category == '1'  %}
														<option value="0">{{ text_normal_mode }}</option>
														<option value="1" selected="selected">{{ text_category_mode }}</option>
														<option value="service_mode">{{ text_service_mode }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_normal_mode }}</option>
														<option value="1">{{ text_category_mode }}</option>
														<option value="service_mode">{{ text_service_mode }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>							
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-seller-login">{{ entry_allowtemplate_description }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_template_description" class="form-select" id="input-seller-login">
														{% if module_purpletree_multivendor_template_description %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>	
									<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" >{{ entry_temp_prod_price_list }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_temp_prod_price_list" class="form-select" id="input-seller-login">
														{% if module_purpletree_multivendor_temp_prod_price_list %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
									</div>	
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-seller-login">{{ entry_storepage_layout }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_storepage_layout" class="form-select" id="input-seller-login">
														{% if module_purpletree_multivendor_storepage_layout %}
														<option value="0">{{ text_layout_one }}</option>
														<option value="1" selected="selected">{{ text_layout_two }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_layout_one }}</option>
														<option value="1">{{ text_layout_two }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
										<!-- seller product view -->
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-products-view">{{ entry_products_view }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_products_view" class="form-select" id="input-products-view">
														{% if module_purpletree_multivendor_products_view %}
														<option value="0">{{ text_list }}</option>
														<option value="1" selected="selected">{{ text_grid }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_list }}</option>
														<option value="1">{{ text_grid }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
										<!--End seller product view-->
										<!--Hide Seller Product Tabs-->
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-hide-product_tab">{{ text_hide_seller_product_tab }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_hide_seller_product_tab" class="form-select" id="input-hide-product_tab">
														{% if module_purpletree_multivendor_hide_seller_product_tab %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}						
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label " for="input-hide-user-menu">{{ text_allow_seller_to_reply_customer }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_allow_seller_to_reply" class="form-select" id="input-hide-user-menu">
														{% if module_purpletree_multivendor_allow_seller_to_reply %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}						
													</select>
												</div>
											</div>
										</div> 					 
										<!-- End Hide Seller Product Tabs--> 
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-product-template">{{ text_seller_product_template }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_seller_product_template" class="form-select" id="input-product-template">
														{% if module_purpletree_multivendor_seller_product_template %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}						
													</select>
												</div>
											</div>
										</div>	
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_allow_related }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_allow_related_product" class="form-select">
														{% if module_purpletree_multivendor_allow_related_product %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
										<!-- End Hide freatured edit button--> 
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_featured_enabled_hide_edit }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_featured_enabled_hide_edit" class="form-select">
														{% if module_purpletree_multivendor_featured_enabled_hide_edit %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>						
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_seller_featured_product }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_seller_featured_products" class="form-select">
														{% if module_purpletree_multivendor_seller_featured_products %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_seller_category_featured_product }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_seller_category_featured" class="form-select">
														{% if module_purpletree_multivendor_seller_category_featured %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_limit_purchase }}</label>
												<div class="col-md-9">
													<input type="text" name="module_purpletree_multivendor_product_limit" class="form-control" value="{{ module_purpletree_multivendor_product_limit is defined?module_purpletree_multivendor_product_limit:'' }}"/>
													{% if product_limit_error %}
													<div class="text-danger">{{ product_limit_error }}</div>
													{% endif %}
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						
						<div class="row">
							<div class="col-sm-12">
								<div class="clearfix">
									<div class="col-sm-12">
										<h3>{{ seller_review_heading }}</h3>
									</div>
									<div class="col-sm-12">
										<div class="form-group py-1 required row">
											<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_seller_review }}</label>
											<div class="col-md-9">
												<select name="module_purpletree_multivendor_seller_review" class="form-select">
													{% if module_purpletree_multivendor_seller_review %}
													<option value="0">{{ text_no }}</option>
													<option value="1" selected="selected">{{ text_yes }}</option>
													{% else %}
													<option value="0" selected="selected">{{ text_no }}</option>
													<option value="1">{{ text_yes }}</option>
													{% endif %}
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-12">
								<div class="clearfix">
									<div class="col-sm-12">
										<h3>{{ seller_contact_heading }}</h3>
									</div>
									<div class="col-sm-12">
										<div class="form-group py-1 required row">
											<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_seller_contact }}</label>
											<div class="col-md-9">
												<select name="module_purpletree_multivendor_seller_contact" class="form-select">
													{% if module_purpletree_multivendor_seller_contact %}
													<option value="0">{{ text_seller_general }}</option>
													<option value="1" selected="selected">{{ text_seller_logedin }}</option>
													{% else %}
													<option value="0" selected="selected">{{ text_seller_general }}</option>
													<option value="1">{{ text_seller_logedin }}</option>
													{% endif %}
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!----- Start seller Blog setting ---------->
						<div class="row">
							<div class="col-sm-12">
								<div class="clearfix">
									<div class="col-sm-12">
										<h3>{{ seller_blog_heading }}</h3>
									</div>
									<div class="col-sm-12">
										<div class="form-group py-1 required row">
											<label class="col-md-3 control-label col-form-label" for="input-blog">{{ entry_seller_sort_by }}</label>
											<div class="col-md-9">
												<select name="module_purpletree_multivendor_seller_blog_order" class="form-select" id = "input-blog">
													{% if module_purpletree_multivendor_seller_blog_order %}
													<option value="0">{{ text_sort_order }}</option>
													<option value="1" selected="selected">{{ text_create_date_order }}</option>
													{% else %}
													<option value="0" selected="selected">{{ text_sort_order }}</option>
													<option value="1">{{ text_create_date_order }}</option>
													{% endif %}
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!----- End seller Blog setting ---------->
						<div class="row">
							<div class="col-sm-12">
								<div class="clearfix">
									<div class="col-sm-12">
										<h3>{{ seller_store_heading }}</h3>
									</div>
									<div class="col-sm-12">
										<div class="form-group py-1 row">
											<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_seller_store }}</label>
											<div class="col-md-9 py-2">
												<label class="checkbox-inline"><input type="checkbox" class="form-check-input" value="1" name="module_purpletree_multivendor_seller_name" {{ module_purpletree_multivendor_seller_name ? 'checked="checked"' : '' }} > {{ text_store_seller_name }}</label>
												<label class="checkbox-inline"><input type="checkbox" class="form-check-input" value="1" name="module_purpletree_multivendor_store_email" {{ module_purpletree_multivendor_store_email ? 'checked="checked"' : '' }} > {{ text_store_email }}</label>
												
												<label class="checkbox-inline"><input type="checkbox" class="form-check-input" value="1" name="module_purpletree_multivendor_store_phone" {{ module_purpletree_multivendor_store_phone ? 'checked="checked"' : '' }} > {{ text_store_phone }}</label>
												
												<label class="checkbox-inline"><input type="checkbox" class="form-check-input" value="1" name="module_purpletree_multivendor_store_address" {{ module_purpletree_multivendor_store_address ? 'checked="checked"' : '' }} > {{ text_store_address }}</label>
												<!-- /////    Store social link   ////// -->
												<label class="checkbox-inline"><input type="checkbox" value="1" name="module_purpletree_multivendor_store_social_link" {{ module_purpletree_multivendor_store_social_link ? 'checked="checked"' : '' }}  class="form-check-input" > {{ text_store_social_link }}</label>
												<!--  ////  Store social link end ////// -->
											</div>
										</div>
									</div>	
									<!-- Hide customer detail -->
									<div class="col-sm-12">
										<div class="form-group py-1 row">
											<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_seller_invoice }}</label>
											<div class="col-md-9">
											<select name="module_purpletree_multivendor_seller_invoice" class="form-select" id="hide-customer-detail">
													{% if module_purpletree_multivendor_seller_invoice %}
													<option value="0">{{ text_no }}</option>
													<option value="1" selected="selected">{{ text_yes }}</option>
													{% else %}
													<option  value="0" selected="selected">{{ text_no }}</option>
													<option value="1">{{ text_yes }}</option>
													{% endif %}
												</select>
							<div class="col-sm-12 text-left pts-hide-customer-detail">
								<label class="checkbox-inline" style="padding-top:15px; padding-left:5px" for="pts-hide-customer-detail" >									<input id="pts-hide-customer-detail" type="checkbox" value="1" name="module_purpletree_multivendor_hide_customer_details" {{ module_purpletree_multivendor_hide_customer_details ? 'checked="checked"' : '' }} class="form-check-input" >
{{ entry_hide_customer_detail }}</label>
							</div>
												<!--<div class="radio">
													<label><input type="radio" name="module_purpletree_multivendor_seller_invoice" value="1" checked>&nbsp;{{ text_yes }}</label>
													<label><input type="radio" name="module_purpletree_multivendor_seller_invoice" {{ ((module_purpletree_multivendor_seller_invoice=="0")?"checked":"") }} value="0">&nbsp;{{ text_no }}</label>
												</div>-->
											</div>
										</div>
									</div>
									<!-- Hide customer detail -->				
<!-- Seller account terms -->
	<div class="col-sm-12">
		<div class="form-group py-1 row">
			<label class="col-md-3 control-label col-form-label" for="seller-account-terms">{{ text_seller_ac_terms }}</label>
			<div class="col-md-9">
				<select name="module_purpletree_multivendor_seller_ac_terms" id="seller-account-terms" class="form-select">
				  <option value="0">{{ text_none }}</option>                      
				  {% for information in informations %}
				  {% if information.information_id == module_purpletree_multivendor_seller_ac_terms %}                      
				  <option value="{{ information.information_id }}" selected="selected">{{ information.title }}</option>                      
				  {% else %}                      
				  <option value="{{ information.information_id }}">{{ information.title }}</option>                      
				  {% endif %}
				  {% endfor %}                    
				</select>
			  </div>
		</div>
	</div>
<!-- Seller account terms -->
								</div>
							</div>
						</div>
            </div>
            <div id="tab-subscription" class="tab-pane">
						<!----- Subcription plan---------->
						<div class="row">
							<div class="col-sm-12">
								<div class="clearfix">
									<div class="col-sm-12">
										<h3>{{ heading_subscription_plan }}</h3>
									</div>
									<div class="col-sm-12">
										<div class="form-group py-1 required row">
											<label class="col-md-3 control-label col-form-label" for="input-enable_subscription">{{ enable_subscription_plans_txt }}</label>
											<div class="col-md-9">
												<select name="module_purpletree_multivendor_subscription_plans" class="form-select subscriptionchange" id="input-enable_subscription">
													{% if module_purpletree_multivendor_subscription_plans %}
													<option value="0">{{ text_no }}</option>
													<option value="1" selected="selected">{{ text_yes }}</option>
													{% else %}
													<option value="0" selected="selected">{{ text_no }}</option>
													<option value="1">{{ text_yes }}</option>
													{% endif %}
												</select>
											</div>
										</div>
									</div>
									<div class="subscription {% if module_purpletree_multivendor_subscription_plans %} {% else %} ptsc-storefrm-nodisplay {% endif %}" >
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ enable_subscription_price_txt }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_subscription_price" class="form-select">
														{% if module_purpletree_multivendor_subscription_price %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ enable_joining_fees_txt }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_joining_fees" class="form-select">
														{% if module_purpletree_multivendor_joining_fees %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group py-1 row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ paypal_hosted_button_id }}</label>
												<div class="col-md-9">
													<input type="text" placeholder="{{ paypal_hosted_button_id }}" name="module_purpletree_multivendor_paypal_email" class="form-control" value="{{ module_purpletree_multivendor_paypal_email }}"/>
													{% if error_paypal_email %}
													<div class="text-danger">{{ error_paypal_email }}</div>
													{% endif %}
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ tax_name_txt }}</label>
												<div class="col-md-9">
													<input type="text" placeholder="{{ tax_name_txt }}" name="module_purpletree_multivendor_tax_name" class="form-control" value="{{ module_purpletree_multivendor_tax_name }}"/>
													{% if tax_name_error %}
													<div class="text-danger">{{ tax_name_error }}</div>
													{% endif %}
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ tax_value_txt }}</label>
												<div class="col-md-9">
													<input type="text" placeholder="{{ tax_value_txt }}" name="module_purpletree_multivendor_tax_value" class="form-control" value="{{ module_purpletree_multivendor_tax_value }}"/>
													{% if tax_value_error %}
													<div class="text-danger">{{ tax_value_error }}</div>
													{% endif %}
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ reminder_one_days_before_to_be_sent_txt }}</label>
												<div class="col-md-9">
													<input type="text" placeholder="{{ reminder_one_days_before_to_be_sent_txt }}" name="module_purpletree_multivendor_reminder_one_days" class="form-control" value="{{ module_purpletree_multivendor_reminder_one_days }}"/>
													{% if error_reminder_one_days %}
													<div class="text-danger">{{ error_reminder_one_days }}</div>
													{% endif %}
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ reminder_two_days_before_to_be_sent_txt }}</label>
												<div class="col-md-9">
													<input type="text" placeholder="{{ reminder_two_days_before_to_be_sent_txt }}" name="module_purpletree_multivendor_reminder_two_days" class="form-control" value="{{ module_purpletree_multivendor_reminder_two_days }}"/>
													{% if error_reminder_two_days %}
													<div class="text-danger">{{ error_reminder_two_days }}</div>
													{% endif %}
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ reminder_three_days_before_to_be_sent_txt }}</label>
												<div class="col-md-9">
													<input type="text" placeholder="{{ reminder_three_days_before_to_be_sent_txt }}"  name="module_purpletree_multivendor_reminder_three_days" class="form-control" value="{{ module_purpletree_multivendor_reminder_three_days }}"/>
													{% if error_reminder_three_days %}
													<div class="text-danger">{{ error_reminder_three_days }}</div>
													{% endif %}
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ grace_period_txt }}</label>
												<div class="col-md-9">
													<input type="text" placeholder="{{ reminder_three_days_before_to_be_sent_txt }}" name="module_purpletree_multivendor_grace_period" class="form-control" value="{{ module_purpletree_multivendor_grace_period }}"/>
													{% if error_grace_period %}
													<div class="text-danger">{{ error_grace_period }}</div>
													{% endif %}
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ enable_multiple_active_plan }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_multiple_subscription_plan_active" class="form-select">
														{% if module_purpletree_multivendor_multiple_subscription_plan_active %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group row py-1">
											<label class="col-md-3 control-label col-form-label" for="input-name">{{ text_default_currency_paypal }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_paypal_currency" id="input-currency" class="form-select">
														{% for currencies in paypalcurrencies %} 
														{% if currencies.code == module_purpletree_multivendor_paypal_currency %} 
														<option value="{{ currencies.code }}" selected="selected">{{ currencies.title }}</option>
														{% else %} 
														<option value="{{ currencies.code }}">{{ currencies.title }}</option>
														{% endif %} 
														{% endfor %} 
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!----end subscription plan---------->
            </div>
            <div id="tab-development" class="tab-pane">
						<div class="row">
							<div class="col-sm-12">
								<div class="clearfix">
									<div class="col-sm-12">
										<h3>{{ heading_development_Option }}</h3>
									</div>
									<div class="col-sm-12">
										<div class="form-group py-1 required row">
											<label class="col-md-3 control-label col-form-label" for="input-jquery">
											{{ enable_include_jquery}}</label>
											<div class="col-md-9">
												<select name="module_purpletree_multivendor_include_jquery" class="form-select" id="input-jquery">
													{% if module_purpletree_multivendor_include_jquery == 1 %}
													<option value="1" selected="selected">{{ text_yes }}</option>
													<option value="0">{{ text_no }}</option>
													{% else %}
													<option value="1">{{ text_yes }}</option>
													<option value="0" selected="selected">{{ text_no }}</option>
													{% endif %}
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
            </div>
              <div id="tab-hyperlocal" class="tab-pane">
						<div class="row">
						   <!--Start Hyper Local -->              
										<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_seller_areaheading }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_hyperlocal_status" class="form-select HyperLocalchange" id="input-customer_manage_order">
														{% if module_purpletree_multivendor_hyperlocal_status %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
										<div class="HypeLocal {% if module_purpletree_multivendor_hyperlocal_status %} {% else %} ptsc-storefrm-nodisplay {% endif %}">
										<div class="col-sm-12">
											<div class="form-group py-1 row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_header_popup }}</label>
												<div class="col-md-9">
												<input type="text" placeholder="{{ entry_header_popup }}" name="module_purpletree_multivendor_hp_heading" class="form-control" value="{{ module_purpletree_multivendor_hp_heading }}"/>
													{% if tax_name_error %}
													<div class="text-danger">{{ tax_name_error }}</div>
													{% endif %}
													
												</div>
											</div>
										</div>
									</div>	
											<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_hyperlocal_select_type }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_hyperlocal_type" class="form-select" id="input-hyperlocal-type">
														{% if module_purpletree_multivendor_hyperlocal_type %}
														<option value="0" {% if module_purpletree_multivendor_hyperlocal_type == 0 %}selected="selected" {% endif %}>{{ entry_hyperlocal_select_area }}</option>
														<option value="1" {% if module_purpletree_multivendor_hyperlocal_type == 1 %}selected="selected" {% endif %}>{{ entry_hyperlocal_search_area }}</option>
														<option value="2" {% if module_purpletree_multivendor_hyperlocal_type == 2 %}selected="selected" {% endif %}>{{ entry_hyperlocal_text_box }}</option>
														{% else %}
														<option value="0" >{{ entry_hyperlocal_select_area }}</option>
														<option value="1">{{ entry_hyperlocal_search_area }}</option>
														<option value="2" >{{ entry_hyperlocal_text_box }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
									<div class="col-sm-12">
											<div class="form-group py-1 required row">
												<label class="col-md-3 control-label col-form-label" for="input-area_selection">{{ entry_area_selection }}</label>
												<div class="col-md-9">
													<select name="module_purpletree_multivendor_area_status" class="form-select" id="input-area_selection">
														{% if module_purpletree_multivendor_area_status %}
														<option value="0">{{ text_no }}</option>
														<option value="1" selected="selected">{{ text_yes }}</option>
														{% else %}
														<option value="0" selected="selected">{{ text_no }}</option>
														<option value="1">{{ text_yes }}</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
										
										<div class="col-sm-12 col-sm-offset-2 offset-md-2">					   
										  
										     <a href="{{ seller_area_link }}" class="btn btn-primary ptsc-mv-sellarealink">{{ entry_seller_area_link }}</a>
										   
										</div>
										<!--end Hyper Local -->	
						</div>	
              </div>

            <div id="tab-other" class="tab-pane">
								<!----Start development option---------->
						<div class="row">
							<div class="col-sm-12">
								<div class="clearfix">
									<div class="col-sm-12">
										<h3>{{ text_other_settings }}</h3>
									</div>
									<div class="col-sm-12">
										<div class="form-group py-1 required row">
											<label class="col-md-3 control-label col-form-label" for="input-name">{{ entry_allow_metals }}</label>
											<div class="col-md-9">
												<select name="module_purpletree_multivendor_allow_metals_product" class="form-select">
													{% if module_purpletree_multivendor_allow_metals_product %}
													<option value="0">{{ text_no }}</option>
													<option value="1" selected="selected">{{ text_yes }}</option>
													{% else %}
													<option value="0" selected="selected">{{ text_no }}</option>
													<option value="1">{{ text_yes }}</option>
													{% endif %}
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
			</div>
            <div id="tab-seller-reg" class="tab-pane">
					<div class="row">
			<div class="col-sm-12">
				<div class="clearfix">
					<div class="col-sm-12">
						<h3>{{ text_hide_seller_reg_field }}</h3>
					</div>
<div class="col-sm-12">
					{% for field,seller_reg_data in seller_reg_fields %}
				<div class="col-sm-12">	
					<h4>
						{% if field == 'personal_details' %}
							{{ personal_details }}
						{% endif %}
						{% if field == 'seller_information' %}
							{{ seller_information }}
						{% endif %}
						{% if field == 'payment_details' %}
							{{ payment_details }}
						{% endif %}
					</h4>
				</div>
					{% for key,seller_reg_field in seller_reg_data %}
					<div class="col-sm-12 mb-2">							
							<div class="col-md-9 offset-md-3" for="input-name">
							<label class="checkbox-inline" for="reg-field-name-{{ field }}{{ key }}">
							<input type="checkbox" name="module_purpletree_multivendor_hide_reg[]" id="reg-field-name-{{ field }}{{ key }}" {% if seller_reg_field.field_required %} disabled="disabled" {% endif %} value="{{ seller_reg_field.field_name }}" {% if seller_reg_field.field_name in module_purpletree_multivendor_hide_reg %} checked="checked" {% endif %} class="form-check-input"><span style="margin-left: 10px;">{{ seller_reg_field.field_title }}</span></label></div>
					</div>
					{% endfor %}
					{% endfor %}
				</div>
				</div>
			</div>
		</div>	
            </div>

          </div>
          <input type="hidden" name="product_id" value="{{ product_id }}" id="input-product-id"/>
        </form>
		<div class="panel-footer card-footer text-center ptsc-mv-version">{{ version}}
			</div>
		
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){ 
		var allowedCat = '{{ module_purpletree_multivendor_allow_categorytype }}';
		
		if(!allowedCat){
			$('select[name="module_purpletree_multivendor_allow_categorytype"]').val(1);
			$('#input-category').prop('disabled', true);
			
			$('#product-category').empty();
			$.ajax({
				url:'index.php?route=extension/purpletree_multivendor/multivendor/sellerproducts|assignCategory&user_token={{ user_token }}&filter_name=',
				dataType: 'json',
				success: function(json) {
					$.map(json, function(item) {
						$('#product-category').append('<div id="product-category' + item['category_id'] + '"><i class="fa fa-minus-circle"></i> ' + item['name'] + '<input type="hidden" name="module_purpletree_multivendor_allow_category[]" value="' + item['category_id'] + '" /></div>');
					});
				}
			});
		}
	});
	$('.subscriptionchange').on('change', function(){
		var selectid = $(this).val();
		if(selectid == "1") {
			$('.subscription').css('display','block');
			} else {
			$('.subscription').css('display','none');
		}
	})
	$('select[name="module_purpletree_multivendor_allow_categorytype"]').on('change', function(){
		var selectid = $(this).val();
		if(selectid=="1"){
			$('#input-category').prop('disabled', true);
			
			$('#product-category').empty();
			$.ajax({
				url:'index.php?route=extension/purpletree_multivendor/multivendor/sellerproducts|assignCategory&user_token={{ user_token }}&filter_name=',
				dataType: 'json',
				success: function(json) {
					$.map(json, function(item) {
						$('#product-category').append('<div id="product-category' + item['category_id'] + '"><i class="fa fa-minus-circle"></i> ' + item['name'] + '</div>');
					});
				}
			});
			
			} else{
			$('#input-category').prop('disabled', false);
			$('#product-category').empty();
			$.ajax({
				url:'index.php?route=extension/module/purpletree_multivendor/multivendor/getSelectedCategory&user_token={{ user_token }}&filter_name=',
				dataType: 'json',
				success: function(json) {
					$.map(json, function(item) {
						$('#product-category').append('<div id="product-category' + item['category_id'] + '"><i class="fa fa-minus-circle"></i> ' + item['name'] + '<input type="hidden" name="module_purpletree_multivendor_allow_category[]" value="' + item['category_id'] + '" /></div>');
					});
				}
			});
		}
	});
	$('input[name=\'category\']').autocomplete({
		'source': function(request, response) {
			$.ajax({
				url:'index.php?route=catalog/category|autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
				dataType: 'json',
				success: function(json) {
					response($.map(json, function(item) {
						return {
							label: item['name'],
							value: item['category_id']
						}
					}));
				}
			});
		},
		'select': function(item) {
			$('input[name=\'category\']').val('');
			
			$('#product-category' + item['value']).remove();
			
			$('#product-category').append('<div id="product-category' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="module_purpletree_multivendor_allow_category[]" value="' + item['value'] + '" /></div>');
		}
	});
	
	$('#product-category').delegate('.fa-minus-circle', 'click', function() {
		
		var cat_id = $(this).next().val();
		var div_remov = $(this).parent();
		$.ajax({
			url:'index.php?route=extension/purpletree_multivendor/multivendor/sellerproducts/checkCategoryassign&user_token={{ user_token }}&filter_name='+cat_id,
			type: 'GET',
			success: function(result) {
				if(result > 0){
					alert("{{ text_assign_categories }}");
					} else{ 
					div_remov.remove();
				}
			}
		});
	});
	
</script>
<style>	
	<!-- body {font-family: Arial, Helvetica, sans-serif;} -->
	body {font-family: Arial, Helvetica, sans-serif;}		
</style>
<script>
	var modal = document.getElementById('licenseModal');
	var btn = document.getElementById("getLicensee");
	var span = document.getElementsByClassName("close")[0];
	btn.onclick = function() {
		modal.style.display = "block";
		// $('#modal_lic_error').html('');
		$('#modal_lic_error').css('display','none');
	}
	span.onclick = function() {
		modal.style.display = "none";
		$('.orderdiv').css('display','none');
	}
	
	
	window.onclick = function(event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}
</script>
<script>
	function savelicc(){
		var licenskey1 = $('#licenskey1').val();
		if (licenskey1 == "") {
			$('#modal_lic_error').html("{{ error_Enter_license_key }}");
			$('#modal_lic_error').css('display','block');
			$('.alertseucess').css('display','none');
			} else {
			$('.alertseucess').text("{{ text_license_key_changed }}");
			$('.alertseucess').css('display','block');
			$('#setlicensee').val(licenskey1);
			$('.orderdiv').css('display','none');
			$('.close').click();
		}
	}
	function dontlice(){
		$('.orderdiv').css('display','block');
	}
	function getlicense(order_id,Email_id){
		$('.getlicbtn').addClass('disabled');
		$('.getlicbtn').val("{{ please_wait }}");
		var order_id = document.getElementById('order_id').value;
		var email_id = document.getElementById('email_id').value;
		if (!order_id.match(/^\d+/)) {
			$('#modal_lic_error').html("{{ error_order_id }}");
			$('#modal_lic_error').css('display','block');
			$('.getlicbtn').removeClass('disabled');
			$('.getlicbtn').val("{{ button_submit }}");
			return false;
		} 
		var atpos = email_id.indexOf("@");
		var dotpos = email_id.lastIndexOf(".");
		if (atpos<1 || dotpos<atpos+2 || dotpos+2>=email_id.length) {
			$('#modal_lic_error').html("{{ error_email_id }}");
			$('#modal_lic_error').css('display','block');
			$('.getlicbtn').removeClass('disabled');
			$('.getlicbtn').val("{{ button_submit }}")
			return false;
		}
		$.ajax ({
            url: "https://process.purpletreesoftware.com/processorder.php",
            data:'order_id='+order_id+'&email_id='+email_id+'&module=purpletree_multivendor_oc',
			type: 'POST',
			dataType: "json",
            success: function( result ) {
				$('.getlicbtn').removeClass('disabled');
				$('.getlicbtn').val("{{ button_submit }}")
				if(result.status == 'success') {
					$('.alertseucess').text("{{ text_license_key_changed }}");
					$('.alertseucess').css('display','block');
					$('#setlicensee').val(result.process_data);
					$('.orderdiv').css('display','none');
					$('.close').click();
					} else {
					$('#modal_lic_error').html(result.msg);
					$('#modal_lic_error').css('display','block');
				}
			}
		});
	}
	
	$('.HyperLocalchange').on('change', function(){
		var selectid = $(this).val();
		if(selectid == "1") {
			$('.HypeLocal').css('display','block');
			} else {
			$('.HypeLocal').css('display','none');
		}
	})
	
		$( "#hide-customer-detail" ).change(function(e) {
			var selectid = $(this).val();
		if(selectid == "0") {
				$(".pts-hide-customer-detail" ).css( "display","block" );
			} else {
				$(".pts-hide-customer-detail" ).css( "display","none" );
			}
		}).change();
		
// Category
// $('#input-category').autocomplete({
    // 'source': function (request, response) {
        // $.ajax({
            // url: 'index.php?route=catalog/category|autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
            // dataType: 'json',
            // success: function (json) {
                // response($.map(json, function (item) {
                    // return {
                        // label: item['name'],
                        // value: item['category_id']
                    // }
                // }));
            // }
        // });
    // },
    // 'select': function (item) {
        // $('#input-category').val('');

        // $('#product-category-' + item['value']).remove();

        // html = '<tr id="product-category-' + item['value'] + '">';
        // html += '  <td>' + item['label'] + '<input type="hidden" name="product_category[]" value="' + item['value'] + '"/></td>';
        // html += '  <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-minus-circle"></i></button></td>';
        // html += '</tr>';

        // $('#product-category tbody').append(html);
    // }
// });

// $('#product-category').on('click', '.btn', function () {
    // $(this).parent().parent().remove();
// });
		
</script>

{{ footer }}
