{{ header }}
{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
		{% if helpcheck %}
			<div class="float-end">
				<a href="{{ helplink }}" rel=”nofollow”  target="_blank" id="button-pts-help" class="btn"><img src="{{ helpimage }}" alt="Help" width="85" height="43"></a>
			</div>
		{% endif %}
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
		  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
		{% endif %}
	   {% if success %}
		<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
		  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
		{% endif %}
		<div class="panel panel-default card">
			<div class="panel-heading">
				<h3 class="panel-title card-header"><i class="fa fa-list"></i> {{ text_heading }}</h3>
			</div>
			<div class="panel-body card-body">
				<form id = "form-seller-delete" action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-customer">
					<div class="card-header mb-4">
						<div class="row">
							<ul class="pts-delete-seller-detail mx-4">
								<li> {{ text_seller_sub_plan }}</li>
								<li>{{ text_seller_product }}</li>
								<li>{{ text_seller_order }}</li>
								<li>{{ text_commission_invoice_seller }}</li>
								<li>{{ text_blogs_seller }}</li>
								<li>{{ text_seller_download }}</li>
								<li>{{ text_seller_review }}</li>
								<li>{{ text_seller_cust_seller }}</li>
								<li>{{ text_shipping_rate }}</li>
							</ul>
						</div>
						<label for="check-1" class="ptsc-delete-seller-marlef">
						<input type="checkbox" class="form-check-input" id="chek-1 "name="delete_product" value="1"> {{ text_delete_product }}</label> 
					</div>
					<button type="button" id="confirm-seller-delete" data-bs-toggle="tooltip"  title="{{ "Delete Confirm" }}" class="btn btn-danger" onclick="confirm('{{ 'Do you want to delete all the information of seller?' }}') ? $('#form-seller-delete').submit() : false;" >{{ text_delete_confirm }}</button>
				</form>
			</div>       
		</div>
	</div>
</div>
{{ footer }} 