{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right float-end">
				<button type="button" data-bs-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-contact').submit() : false;"><i class="fa fa-trash-o fas fa-trash-alt"></i></button>
				{% if helpcheck %}
					<a href="{{ helplink }}" rel=”nofollow”  target="_blank" id="button-pts-help" class="btn"><img src="{{ helpimage }}" alt="Help" width="85" height="43"></a>
				{% endif %}
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
		{% endif %}
	   {% if success %}
		<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endif %}
		<div class="panel panel-default card">
			<div class="panel-heading">
				<h3 class="panel-title card-header"><i class="fa fa-list"></i> {{ text_list }}</h3>
			</div>
			<div class="panel-body card-body">
				<div class="well card mb-3 p-3">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-form-label" for="input-product">{{ text_customer_name }}</label>
								<input type="text" name="filter_customer_name" value="{{ filter_customer_name }}" placeholder="{{ text_customer_name }}" id="input-product" class="form-control" />
							</div>
							<div class="form-group">
								<label class="control-label col-form-label" for="input-author">{{ text_seller_name }}</label>
								<input type="text" name="filter_seller_name" value="{{ filter_seller_name }}" placeholder="{{ text_seller_name }}" id="input-author" class="form-control" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-form-label" for="input-status">{{ text_email }}</label>
								<input type="text" name="filter_email" value="{{ filter_email }}" placeholder="{{ text_email }}" id="input-author" class="form-control" />
							</div>
							<div class="form-group">
								<label class="control-label col-form-label" for="input-date-added">{{ text_date_added }}</label>
								<div class="input-group date">
									<input type="text" name="filter_created_at" value="" placeholder="{{ text_date_added }}" id="created_at" class="form-control" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default btn-light"><i class="fa fa-calendar"></i></button>
									</span></div>
									<input type="hidden" name="seller_id" value="{{ seller_id }}">
							</div>
							<button type="button" id="button-filter" class="btn btn-primary pull-right float-end mt-3"><i class="fa fa-filter"></i> {{ button_filter }}</button>
						</div>
						<div class="colorcoding"><div class="sellercolor"><div class="bluecolor"> </div>{{ text_seller_to_customer }}</div><div class="sellercolor"> <div class="greencolor"></div>{{ text_customer_to_seller }}</div></div>
					</div>
				</div>
				<form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-contact">
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<td class="text-center ptsc-vendorlis-width"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" class="form-check-input"/></td>
									<td class="text-start">{{ text_seller_name }}</td>
									<td class="text-start"><i class="fa fa-arrows-alt-h ptsc-sellcont-forntsize"></i></td>
									<td class="text-start">{{ text_customer_name }}</td>
									<td class="text-start">{{ text_email }}</td>
									<td class="text-start">{{ text_description }}</td>
									<td class="text-start">{{ text_date_added }}</td>
									<td class="text-end">{{ column_action }}</td>
								</tr>
							</thead>
							<tbody>
								{% if sellercontacts %}
								{% for sellercontact in sellercontacts %}
								<?php $x=$sellercontact['contact_from']?'To':'From'; ?>
								{% if sellercontact.contact_from %}
								{% set x='To' %}
								{% else %}
								{% set x='From' %}
								{% endif %}
								
								{% if sellercontact.contact_from %}
								{% set y='<i class="fa fa-arrow-right"></i>' %}
								{% else %}
								{% set y='<i class="fa fa-arrow-left"></i>' %}
								{% endif %}
								
								<tr class="{{ x }}" >
									<td class="text-center">{% if selected in sellercontact %}
										<input type="checkbox" name="selected[]" value="{{ sellercontact.id }}" checked="checked" class="form-check-input"/>
										{% else %}
										<input type="checkbox" name="selected[]" value="{{ sellercontact.id }}" class="form-check-input"/>
									{% endif %}</td>
									<td class="text-start">{{ sellercontact.seller_name }}</td>
									<td class="text-start">{{ y }} </td>
									<td class="text-start">{{ sellercontact.customer_name }}</td>
									<td class="text-start">{{ sellercontact.customer_email }}</td>
									<td class="text-start">{{ sellercontact.customer_message }}</td>
									<td class="text-start">{{ sellercontact.date_added }}</td>
									<td class="text-end"><a href="{{ sellercontact.view }}" data-bs-toggle="tooltip" title="{{ button_view }}" class="btn btn-primary"><i class="fa fa-eye"></i></a></td>
								</tr>
								{% endfor %}
								{% else %}
								<tr>
									<td class="text-center" colspan="100%">{{ text_no_results }}</td>
								</tr>
								{% endif %}
							</tbody>
						</table>
					</div>
				</form>
				<div class="row">
					<div class="col-sm-6 text-start">{{ pagination }}</div>
					<div class="col-sm-6 text-end">{{ results }}</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript"><!--
		$('#button-filter').on('click', function() {
			url = 'index.php?route=extension/purpletree_multivendor/multivendor/sellercontacts&user_token={{ user_token}}';
			
			var filter_customer_name = $('input[name=\'filter_customer_name\']').val();
			
			if (filter_customer_name) {
				url += '&filter_customer_name=' + encodeURIComponent(filter_customer_name);
			}
			
			var filter_seller_name = $('input[name=\'filter_seller_name\']').val();
			
			if (filter_seller_name) {
				url += '&filter_seller_name=' + encodeURIComponent(filter_seller_name);
			}
			
			var filter_email = $('input[name=\'filter_email\']').val();
			
			if (filter_email) {
				url += '&filter_email=' + encodeURIComponent(filter_email);
			}		
			
			var filter_created_at = $('input[name=\'filter_created_at\']').val();
			
			if (filter_created_at) {
				url += '&filter_created_at=' + encodeURIComponent(filter_created_at);
			}
			
			location = url;
		});
	//--></script> 
	</div>
	<script type="text/javascript">
$(function() {

  $('input[name="filter_created_at"]').daterangepicker({
      autoUpdateInput: false,
	  singleDatePicker: true,
	  showDropdowns: true,
      locale: {
          cancelLabel: 'Clear'
      }
  });

  $('input[name="filter_created_at"]').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('YYYY-MM-DD'));
  });

  $('input[name="filter_created_at"]').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
  });
  
});
</script>
	{{ footer }}	